
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200&family=Special+Elite&family=Varela+Round&display=swap');

/* NAV  */
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
}

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%);}

}

.nav {
    width: 4.5rem;
    height: 95%;
    position: fixed;
    background-color: rgba(60, 60, 60, 0.3);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 8px;
    top: 10px;
}

.nav:hover {
    width: 7vw;
	animation-name: slide;
    z-index: 2000;
    transition-duration: 0.5s;
}

.nav_icon {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    
}

.nav_icon a {
    color: #ffffff;
    transition: all 0.3s

}

.nav_icon a:hover {
    color: #ffdd56;
    font-size: 40px;
    transition-duration: 0.2s;
}

/* WRAPPER  */

.wrapper {
    margin-left: 5rem;
}

/* SCROLL BAR  */
body::-webkit-scrollbar {
    width: 0.50rem;
}
body::-webkit-scrollbar-track {
    background: #ffdd56;
}



/*  HOME  */

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.circulo img {
    width: 620px;
    align-self: center;
    justify-self: center;
    margin-top: 0;
}

.circulo {
    align-self: center;
    justify-self: center;
    margin-top: 0;
    z-index: 100;
}

.derecha {
    align-self: center;
    justify-self: flex-start;
    z-index: 200;
    margin: auto;
    margin-right: 5em;
}

.derecha h1 {
    line-height: 0.8;
    font-size: 5em;
    font-family: 'Special Elite', cursive;
    text-align: right;
    color: #171717;
}

.derecha p {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #171717;
}


/*  ABOUT ME  */

.about_me_wrapper {
    background-color: #171717;
    height: 100vh;
}

.about_me {
    font-size: 2em;
    font-family: 'Special Elite', cursive;
    color: #ffdd56;
    padding: 50px;
    margin-left: 4em;
}

.about_me p, a {
    font-family: "Poppins";
    font-size: 20px;
    margin-top: 20px;
}

.about_me a {
    text-decoration: none;
    color: #ffdd56;
    font-weight: 1000;
}


/*  MY WORK  */

.my_work {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: url(circulo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80vh;
    padding: 100px;
    height: 100vh;
}

.my_works_title {
    font-size: 2.5em;
    font-family: 'Special Elite', cursive;
    color: #171717;
    text-align: right;
    float: right;
}


.works {
    margin-left: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    z-index: 1000;
}

.works_item {
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    height: 235px;
    align-self: center;
}

.works_item h4 {
    line-height: 1;
    margin: 15px auto;
    text-align: left;
}

.works_item p {
    line-height: 1;
    margin: 10px auto;
    text-align: left;
}

.works_item img {
    width: 150px;
    height: 80px;
    justify-self: center;
    border-radius: 10px;
    margin: auto;
}

.works_item:hover {
    box-shadow: 0 23px 45px rgba(0,0,0,0.60), 0 18px 14px rgba(0,0,0,0.22);
}

.works_item a {
    border: none;
    background-color: #171717;
    color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    align-self: center;
    align-content: center;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    font-weight: 1000;
    margin: 10px auto 0 auto;
}

.works_item a:hover {
    color: #ffdd56;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* CONTACT INFO ------------------------*/

footer {
    margin: 0;
    background-color: #171717;
}

.contact_info {
    color: #ffffff;
    padding: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.contact_info a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 30px;
}

.contact_info a:hover {
    color: #ffdd56;
    transition-duration: 0.2s;
}



@media screen and (max-width: 600px) {

    body {
        width: 100%;

    }
    
    .nav {
        width: 90%;
        height: 8%;
        position: fixed;
        background-color: rgba(60, 60, 60, 0.3);
        display: flex;
        border-radius: 20px;
        z-index: 10000;
        margin: auto;
        padding: 0;
    }

    .nav_icon {
        margin: auto;
        padding: 0;
    }

    .nav_wrapper {
        margin: auto;
        justify-items: center;
    }



    .nav_icon a {
        font-size: 25px;
        justify-self: center;
        align-self: center;
        padding: 0;
    }

    .nav:hover {
        display: none;
    }

    .nav a:hover {
        display: none;
    }

/*HOME*/

    .wrapper {
        margin: 0;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
    .circulo img {
        width: 350px;
        align-self: center;
        justify-self: center;
        margin-top: 0;
    }

    .derecha {
        float: right;
        margin-right: 35px;
    }
    
    .derecha h1 {
        line-height: 0.8;
        font-size: 25px;
        font-family: 'Special Elite', cursive;
        text-align: right;
        color: #171717;
    }
    
    .derecha p {
        text-align: right;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #171717;
    }
    /*ABOUT ME*/
    .about_me_wrapper {
        background-color: #171717;
       
    }
    
    .about_me {
        font-size: 2em;
        font-family: 'Special Elite', cursive;
        color: #ffdd56;
        margin: auto;
    }
    
    .about_me p, a {
        font-family: "Poppins";
        font-size: 20px;
        margin-top: 20px;
    }
    
    .about_me a {
        text-decoration: none;
        color: #ffdd56;
        font-weight: 1000;
    }


    /*MY WORK*/
    .my_work {
        display: grid;
        grid-template-columns: 1fr;
        background: url(circulo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        justify-content: center;
    }
    
    .my_works_title {
        font-size: 20px;
        font-family: 'Special Elite', cursive;
        color: #171717;
        margin: 0;
        display: none;
    }
    
    
    .works {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .works_item {
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        background: #ffffff;
        align-self: center;
        
    }
    
    .works_item h4 {
        line-height: 1;
        margin: 10px auto;
        text-align: left;
        font-size: 18px;
    }
    
    .works_item p {
        line-height: 1;
        margin: 5px auto;
        text-align: left;
        font-size: 15px;
    }
    
    .works_item img {
        width: 100%;
        justify-self: center;
        border-radius: 10px;
        margin: auto;
    }
    
    .works_item:hover {
        box-shadow: 0 23px 45px rgba(0,0,0,0.60), 0 18px 14px rgba(0,0,0,0.22);
    }
    
    .works_item a {
        border: none;
        background-color: #171717;
        color: #ffffff;
        border-radius: 8px;
        align-self: center;
        align-content: center;
        text-decoration: none;
        font-size: 10px;
        text-align: center;
        font-weight: 1000;
        margin: auto;
    }
    
    .works_item a:hover {
        color: #ffdd56;
    }
    
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px;
        grid-gap: 8px;
        margin: auto;
        justify-content: space-evenly;
    }

}
    
