.sect2Container {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1f1f1f;
    margin: auto;
}

.proyectosTituloContainer {
    padding-top: 120px;
    text-align: start;
    width: 80%;
}

.proyectosTitulo {
    font-size: 50px;
    font-weight: 800;
    background: rgb(0,199,180);
background: linear-gradient(90deg, rgba(0,199,180,1) 0%, rgba(0,77,148,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proyectosContainer {
    width: 80%;
    margin: auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyectosSlider {
    display: flex;
    height: 100%;
    gap: 50px;
}

