.sect2Container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1f1f1f;
    margin: auto;
}

.proyectosTituloContainer {
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: flex-start;
    width: 850px;
}

.proyectosTitulo {
    font-size: 3rem;
    font-weight: 800;
    background: rgb(0,199,180);
    background: linear-gradient(90deg, rgba(0,199,180,1) 0%, rgba(0,77,148,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proyectosContainer {
    width: 80%;
    margin: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyectosSlider {
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 768px) {

    .sect2Container {
        width: 100%;
        height: 100%;
        gap: 150px;
    }
    .proyectosTitulo {
        font-size: 36px;
    }

    .proyectosTituloContainer {
        padding: 0 0 0 60px;
        max-width: 100vw;
    }


    .proyectosContainer {
        width: 100%;
        height: 150vh;
    }
}

