.sliderContainer {
    height: 100%;
    position: relative;
    width: 500px;
}

.sliderTrack {
    display: flex;
    height: 350px;
    gap: 50px;
    position: relative;
    justify-content: center;
}


.flechasContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.arrowLeft {
    color: #1f1f1f;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top: -220px;
    left: -240px;
}

.arrowRight {
    color: #1f1f1f;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top: -220px;
    right: -240px;
}