.footerContainer {
    background-color: #1f1f1f;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.menuAgain {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menuAgain a {
    text-decoration: none;
    color: #f1f1f1;
    transition: .2s;
}

.menuAgain a:hover {
    color: #f1f1f180;
}

.githubFooter {
    border: solid 3px red;
    width: 50px;
    color: #f1f1f1;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    gap: 10px;
}

.infoLinks a {
    color: #f1f1f1;
    margin: 0 10px;
    font-size: 34px;
    transition: .2s;
}
.infoLinks a:hover {
    color: #f1f1f180;
}