
.proyectoItem {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1f1f1f;
    background-color: #1f1f1f10;
    border-radius: 20px;
    margin: 0 20px;
}

.contentItem {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}

.itemImg {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 140px;
    margin: 0;
}

.nroItem {
    border-bottom: solid 1px #1f1f1f;
    padding-bottom: 5px;

}

.tituloItem {
    padding-top: 5px;
    font-size: 24px;
    font-weight: 900;
    background: rgb(0,199,180);
    background: linear-gradient(90deg, rgba(0,199,180,1) 0%, rgba(0,77,148,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descriptionItem {
    font-size: 16px;
    font-weight: 400;
}

.iconGithub {
    color: #1f1f1f;
    width: 40px;
    transition: .4s;
}

.linkToWebsite:hover {
    background: rgb(0,199,180);
    background: linear-gradient(90deg, rgba(0,199,180,1) 0%, rgba(0,77,148,1) 100%);
    font-weight: 500;
}

.linksItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkToWebsite {
    color: #f1f1f1;
    text-decoration: none;
    background-color: #1f1f1f;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    transition: .2s;
}

@media only screen and (max-width: 768px) {
    .proyectoItem {
        max-width: 100%;
    }

    .contentItem {
        padding: 10px 20px;
    }

    .nroItem {
        display: none;
    }

    .itemImg {
        height: 180px;
    }

    .tituloItem {
        font-size: 20px;
    }

    .descriptionItem {
        font-size: 14px;
        padding: 10px 0;
    }
}