
.proyectoItem {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    color: #1f1f1f;
    background-color: #1f1f1f10;
    border-radius: 30px;
}

.contentItem {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proyectoImg {
    width: 100%;

}

.nroItem {
    border-bottom: solid 1px #1f1f1f;
    padding-bottom: 5px;
}

.tituloItem {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.descriptionItem {
    font-size: 16px;
    font-weight: 400;
}

.iconGithub {
    color: #1f1f1f;
    width: 40px;
}

.linksItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkToWebsite {
    color: #f1f1f1;
    text-decoration: none;
    background-color: #1f1f1f;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}