.dark {
    background-color: #1f1f1f;
}

.dark ul li a {
    color: white;
}

.navContainer {
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navegation li {
    list-style: none;
}

.navegation li a {
    text-decoration: none;
    color: #1f1f1f;
}

.personalize {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.darkModeButton {
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f3f3f3;
}

#language {
    border: none;
    background-color: #f3f3f3;
    color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
}

#language option {
    background-color: #f3f3f3;
    color: #1f1f1f;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoImg {
    width: 60px;
    border-radius: 50%;
}

.logoP {
    font-weight: 700;
    font-size: 30px;
}